@import url("/fonts/PublicSans/style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-grey: #191c1f;
  --color-white: #ffffff;
  --color-yellow: #ebc80c;
  --color-grey-light: #303639;
  --color-grey-sky: #77878f;
  --color-white-light: #e4e7e9;
  --color-blue-dark: #1b6392;
  --color-blue-light: #2da5f3;
  --color-orange: #fa8232;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

div {
  display: flex;
  align-items: center;
}
img {
  cursor: pointer;
}
.App {
  width: 100%;
  position: relative;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.container {
  margin: 0 auto;
  width: 1320px;
}

/* =============================================== */
