@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-grey: #191c1f;
  --color-white: #ffffff;
  --color-yellow: #ebc80c;
  --color-grey-light: #303639;
  --color-grey-sky: #77878f;
  --color-white-light: #e4e7e9;
  --color-blue-dark: #1b6392;
  --color-blue-light: #2da5f3;
  --color-orange: #fa8232;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

div {
  display: flex;
  align-items: center;
}
img {
  cursor: pointer;
}
.App {
  width: 100%;
  position: relative;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 1320px;
}

/* =============================================== */

